<div class="container">
  <div class="row">
    <div class="col-5 mx-auto m-2">
      <% if user_signed_in? %>
        <%= form_with url: searches_search_path, method: :get, local:true do |f| %>
          <%= f.text_field :value %>
          <%= f.select :model, {"User"=>"user", "Book" => "book"} %>
          <%= f.select :how, {"完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" } %>
          <%= f.submit "検索" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>